@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-carousel {
  animation: carousel 20s linear infinite;
}

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 9999px;
    border: none;
  }

  ::-webkit-scrollbar-track {
    background-color: #153058;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #3266ba;
  }
}

.poppins {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
}

.weight {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.name {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  --line-color: #e5e7eb;
  overflow-x: hidden;
}
